.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#example-map{
  height: 200px;
  width: 200px;
}

.ui.modal>.content>.icon+.description, .ui.modal>.content>.image+.description {
  flex: 1 !important;
}
#account-dropdown{
  padding-right: 2.5em !important;
}
#account-dropdown:hover i.dropdown{
  padding-right: 2.5em !important;
  background: none;
}